<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <!---->
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>power: </span>{{hero.power}}</div>
  <div><span>agility: </span>{{hero.agility}}</div>

  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>

    <label for="hero-power">Hero power: </label>
    <input type="number" id="hero-power" [(ngModel)]="hero.power" placeholder="Hero power"/>

    <label for="hero-agility">Hero agility: </label>
    <input type="number" id="hero-agility" [(ngModel)]="hero.agility" placeholder="Hero agility"/>
  </div>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
  <button class="delete" title="delete hero"
  (click)="delete(hero)">delete</button>
</div>