
<div *ngIf="team">
    <h2>{{team.name | uppercase}} Details</h2>
    <div><span>id: </span>{{team.id_team}}</div>
  
    <div>
      <label for="team-name">Team name: </label>
      <input id="team-name" [(ngModel)]="team.name" placeholder="Team name"/>
    </div>
    <!-- Mostrar todos herois que estão nesse time  -->
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
          <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
          </a>
          <button class="delete" title="Kick hero"
          (click)="kickHero(hero.id)">kick</button>
      </li>
    </ul>
    <button (click)="goBack()">go back</button>
    <button title="save team" (click)="saveTeam()">save</button>
    <button class="delete" title="delete team"
    (click)="deleteTeam(team)">delete</button>
</div>